

{% autoescape off %}
{{ user.get_username }} adresli hesabınız için bir parola sıfırlama isteği oluşturdunuz. 

Aşağıdaki linke tıklayarak parola sıfırlama işlemini gerçekleştirebilirsiniz.
{{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %}


Eğer link bozuk veya çalışmıyor ise lütfen farklı bir tarayıcıda deneyiniz. Problem hala devam ediyorsa tekrar parola sıfırlama isteği oluşturabilirsiniz.


Mutlu,Sağlıklı ve Başarılı Günler Dilerim,
Seçkin Şevki ÖZER
{% endautoescape %}