
<footer class="py-2 bg-light mt-auto " >
    
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Seçkin Şevki Özer</div>
            
            <div>
                <a style="text-decoration:none" href="#" >Gizlilik Politikası</a>
                &middot;
                <a style="text-decoration:none" href="#">Koşullar &amp; Şartlar</a>
            </div>
        </div>
    </div>
</footer>
