{% extends "layout.html" %}
{% load static %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Seçkin Özer | Hakkında">
  <meta name="keywords" content="Seçkin , ÖZER , Blog">
  <link rel="stylesheet" href=" {% static 'css/about.css' %} ">
  <title>Hakkımda | Seçkin Özer</title>
</head>
<body>       
    <section  class="about">
            <div class="container" >

                <section class="team section custom ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="team-item wow fadeInLeft" data-wow-duration="1.6s">
                                    <figure>
                                        <img src="../static/img/seckin.png"   alt="">
                                        <figcaption>
                                            <div class="info">
                                                <h3>Seçkin Şevki Özer</h3>
                                                <p>Girişimci | Software Developer</p>
                                            </div>
                                            
                                            <div class="social">
                                                <a href="https://twitter.com/seckinozer0" class="twitter" data-abc="true"><i class="bi bi-twitter"></i></a>
                                                <a href="https://www.instagram.com/seckinozer0/" class="instagram" data-abc="true"><i class="bi bi-instagram"></i></a>
                                                <a href="https://www.linkedin.com/in/seçkin-şevki-özer-302376181/" class="linked-in" data-abc="true"><i class="bi bi-linkedin"></i></a>
                                                
                                            </div>
                                            
                                        </figcaption>
                                        
                                    </figure>
                                    
                                </div>
                                
                            </div>
                            
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="team-item " style="width: 175% ;" data-wow-duration="1.6s">
                                    <figure>
                                        <br><br><br><br>
                                        <div class="" >
                                            
                                            <div class="typing-demo">
                                                <h2 class="title-overview text-white " style="float: left;" >Kişisel Bloğuma Hoşgeldiniz<hr style="background: #fff;" > </h2>
                                            </div>
                                            <p class="subtitle-overview wow fadeInLeft text-white" style = "float: left; font-size:17.5px;" data-wow-duration="1.6s"> Herkese Merahaba, <br> 
                                                Öncelikle blogumu ziyaret ettiğiniz için teşekkür ederim. Ben Seçkin Şevki Özer Erciyes Üniversitesi Mekatronik Mühendisliği 3. Sınıf öğrencisiyim.Bu Blogu temel mühendislik bilimleri , programlama ve yazılım öğrenmek isteyenlerin uğrak noktası olması ve aynı zamanda Türkiye'de mühendislik, programlama ve yazılım bilimlerinin yükselmesine katkı sunmak amacıyla; yazılım , tasarım , elektronik ve sosyal alanlardaki bilgi ve deneyimlerimi sizin ile paylaşmak için kurdum.
                                            </p>
                                            <p class="subtitle-overview wow fadeInLeft text-white" style = "float: left; font-size:17.5px;" data-wow-duration="1.6s"> 
                                                Birlikte yazmaya, öğrenmeye , hata almaya ve çözmeye var mısınız? Haydi o zaman teknolojiyi baştan yazmaya başlayalım.
                                            </p>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </section>        
                </div>

            </div>
            
    </section>
</body>
</html>
    
    
{% endblock %}

