{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}



<script>
  $(document).ready(function() {
    $('#dataTable').DataTable();
  });
  
</script>
<title>Kurslar</title>
<link href="../static/css/style.css" rel="stylesheet" />
<div class="sb-nav-fixed"> 
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                
                {% if articles %}
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa fa-table mr-1"></i>
                        Paylaşılan Yazılar
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>Makale Adı</th>
                                    <th>İD</th>
                                    <th>Kategori</th>
                                    <th>Makale İçeriği</th>
                                    <th>Yayınlanma Tarihi</th>
                                    <th>Düzenle</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for article in articles  %}
                                    <tr>
                                        <td><a href="/articles/article/{{article.id}}">{{article.title}}</a> </td>
                                        <td> {{article.id}} </td>
                                        <td> {{article.category}} </td>
                                        <td>{{article.content|safe|truncatewords:15}}</td>
                                        <td> {{article.created_date}} </td>
                                        <td><a class="btn btn-primary " href="/articles/article/{{article.id}}">Devamını Oku</a></td>  
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% else %}

                <div class ="row">

                    <div class="col-md-10 offset-md-3">
                        <div class="col-lg-8">
                <div class = "alert alert-danger">
                    Bu Kategori Altında Herhangi Bir Makale Bulunamadı...
                </div>
                </div>
                </div>
                </div>
                {% endif %}
                <hr>
            </div>
        </main>
        
    
    </div>
</div>
{% endblock body %}