{% extends "layout.html" %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{article.title}} </title>
  <link rel="stylesheet" href=" {% static 'css/detail.css' %} ">
</head>
<body>
  <style>
    .hero {
      width: 100%;
      height: 50vh;
      background: url(" {% static 'img/main.jpg' %} ") top center;
      background-size: cover;
      position: relative;
    }
  </style>
<section class="d-flex align-items-center hero">
  <div class="container position-relative wow fadeInLeft" data-wow-duration="1.2s" >
    <h1 class="text-white" > {{article.title}} </h1>
  </div>
</section>
  <section class="breadcrumbs wow fadeInLeft" data-wow-duration="1.2s" >
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <ol>
          <li><a href="/articles">Blog</a></li>
          <li><a href="/category/?category={{category.id}}"> {{article.category}} </a></li>
          <li> {{article.title}} </li>
        </ol>
      </div>
    </div>
  </section><!-- End Blog Section -->
  
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 post-detail wow fadeInLeft" data-wow-duration ="1.5s" >
        <div class="md-4" style="float: left;">
          <p class="lead md-4"> 
            <a href="#">{{article.author.username}}</a> tarafından yayınlandı
          </p>
        </div>
        <div style=" float:right">
          <p class="lead">Paylaşım Tarihi : {{article.created_date}}</p>
        </div>
        {% if article.article_image %}
        <img class="img-fluid rounded" src="{{article.article_image.url }}" alt="">
        {% endif %}
        <hr>
        <p class="lead">{{article.content|safe}}</p>
        <hr>
        {% if article.category.name == "Python" %}
        <h3>python</h3>
        {% else %}
        <h3>başka</h3>
        {% endif %}
        <div class="card mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">Bu Makaleye Bir Yorum Ekleyin</div>
          <div class="card-body">
              <form method="post" action="{% url 'Article:comment' article.id %}">  
                {% if request.user.is_authenticated %}
                {% csrf_token %}
                  <!-- Comment -->
                  <div class="text-muted"> {{ request.user.username}} olarak yorum yapıyorsunuz. </div>
                  <br>
                  <div class="form-group">
                      <textarea class="form-control" id="replyFormComment" name="comment_content" rows="5" required placeholder="Yorumunuz" ></textarea>
                  </div>
                  <div class="text-center mt-4">
                    <button class="btn btn-info btn-md" style="width: 100%;" type="submit">Paylaş</button>
                  </div>         
                {% else %}
                <div class="alert alert-danger"> Yorum Eklemek İçin Lütfen <a href="/user/login"> Giriş Yapın.</a></div>
                {% endif %}         
              </form>
          </div>
        </div>
        <!--/.Reply-->
        {% if comments %}
        <!--Comments-->
            <div class="card card-comments mb-3 wow fadeIn">
                
                  <div class="card-body">
                    {% for comment in comments  %}
                    <div class="media d-block d-md-flex mt-4">
                      <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <hr>
                            <h5 class="mt-0 font-weight-bold">{{comment.comment_author}}
                              <small>{{comment.comment_date}} Tarihinde Yayınlandı</small>
                                <a href="" class="pull-right">
                                    <i class="fa fa-reply"></i>
                                </a>
                            </h5>
                            {{comment.comment_content}}
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                  </div>
            </div>
          {% else %}
            <div class="alert alert-danger">Bu Makalede Herhangi Bir Yorum Yok.</div>
          {% endif %}
      </div>
      <div class="col-lg-4">
        <div class="sidebar wow fadeInRight" data-wow-duration="1.5">
          <h3 class="sidebar-title"> Kategoriler </h3>
          {% if categories %}
            {% for category in categories  %}
              <li><a href="?category={{category.id}}">{{category.name}}</a></li>
            {% endfor %}
          {% endif %}
          <hr>
          <h3 class="sidebar-title"> Diğer Yazılar</h3>
          {% if articles %}
            {% for article in articles  %}
            <div class="sidebar-item recent-posts">
              <div class="post-item clearfix">
                <img src="{{article.article_image.url }}" alt="Makale resmi">
                <h4 class="text-success"><a href="{% url 'Article:detail' article.id %}"> {{article.title}} </a></h4>
                <time datetime="2020-01-01"> {{article.created_date}} </time>
                <a  style="float: right;" href="{% url 'Article:detail' article.id %}"> Devamını Oku</a>
              </div>
              <hr>
            </div>
            {% endfor %}
          
          {% endif %}
        </div>
        <div class="sidebar wow fadeInRight" data-wow-duration="1.5"> 
          <h3 class="sidebar-title"> Seçkin Şevki Özer</h3>
            <div class="sidebar-item recent-posts">
              <div class="post-item clearfix">
                <img src="{% static 'img/seckin.png' %} " alt="Makale resmi">
                
                <h4 class="">
                  <ul>
                    <li>Erciyes Üniversitesi Mekatronik Mühendisliği 3. Sınıf </li>
                    <li>Software Developer</li>
                    <li>Founder of TARA Asistan</li>
                  </ul>
                  </h4>
                <a  style="float: right;" href="/about/"> Devamını Oku</a>
              </div>
              <hr>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>

{% endblock body %}



